/* 

<uniquifier>: Use a unique and descriptive class name
 <weight>: Use a value from 100 to 900 

 .libre-franklin-<uniquifier> {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}*/

/* ***************All****************** */

body {
  font-family: "Libre Franklin", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}
h1, h2, h3 {
  font-family: "Lilita One", sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color: white;
  margin-top: 4em;
}

/* **************Main view - Login*********** */
#mainIndex {
  background-image: url('../images/beach-bali-2698078_1280-pixabay.jpg');
  background-color: skyblue; /* if image not avail.*/
  height: 500px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 127em;
}

.login-container {
  margin-top: 4em;
  text-align: center;
  
}
.login-container button {
  font-size: .7em;
  border-radius: 25px;
  border: none;
  padding: 5px;
  padding-right: 7px;
  margin: .4em;
}

/* ************Activity Entry View********* */
.activity-entry {
  margin: 0;
  background-color: #F0F6FA;
}
#activ-entry-hero {
  height: 100%;
}
#activ-entry-hero img {
  height: 15em;
  object-fit: cover;
  object-position: 20% 50%; 
  padding-bottom: 1em;
}
#activ-entry-subhero {
  width: 100%;
  
}
#activ-entry-subhero img {
  height: 5em;
  object-fit: cover;
  object-position: 20% 80%;
}
#activityForm {
  margin: 3em;
 }
 

/* ********** TEXT OVERLAY FOR ACTIVITY ENTRY & CALENDAR ******* */
.image-container {
  position: relative;
  display: inline-block;
}
 .image-container img {
  display: block;
  height: auto;
 }
 .overlay-text {
  position: absolute;
  top: 45%;
  left: 45%;
  transform: translate(-50%, -50%);
  color: #444343;
  font-weight: bold;
  background-color: #fff;
  border-radius: 2px;
  padding: 10px 20px;
  font-size: 20px;
  text-align: center;
 } 
/* **********Calendar View************ */
/* .week-header {
  display: flex;
  justify-content: space-between;
 }
 .week-header div {
  flex: 1;
  text-align: center;
  padding: 10px;
  background-color: #ddd;
  font-weight: bold;
 }
.date {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
  min-height: 50px;
  position: relative;
}
.activity {
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  margin-top: 5px;
  padding: 5px;
} */

.calendar {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 columns for days of the week */
  grid-gap: 1px; /* Space between cells */
 
}

/* Week header */
.week-header {
  display: contents; /*Make header behave as part of grid */
  
}

.week-header div {
  background-color: #fff;
  padding: 10px;
  text-align: center;
  border: 1px solid #ddd;
  background-color: #f4f4f4; /* Background color */
  font-weight: bold;
  border: none;
}

/* Individual day cells */
.date {
  background-color: #fff; /* Background color for cells */
  padding: 10px;
  text-align: center; /* Center the text */
  border: 1px solid #ddd; /* Border around cells */
}

.date:hover {
  background-color: #f0f0f0; /* Hover effect */
}

/* **********Details-modal View******* */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
}
.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
.modal-content h2 {
  margin-top: 0; /*removes default margin */
}
.modal-content h2 {
  content: "activityName: ";
  font-weight: bold;
}
.modal-content p {
  margin-top: 10px; /*adjust */
}
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}
.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.footer {
  height: 5em;
  background: #2F5EA6;
}



/* ****************************************** */
/* **********FOR LARGER SCREENS************** */
/* ****************************************** */
@media only screen and (min-width: 641px) {

  /* ******(Large) Main view - Login********* */
  #mainIndex {
    background-size: cover;
  }

  /* ******(Large) Activity Entry View********** */
  #activ-entry-hero img {
    width: 100%;
    height: 30em;
    object-fit: cover;
    object-position: 20% 35%;
    padding-bottom: 2em;
  }
  #activ-entry-subhero img {
    width: 100%;
    height: 12em;
    object-fit: cover;
    object-position: 20% 80%;
  }

/* *****(Large) Text overlay for Activity Entry & Calendar******* */
.image-container {
  display: block;
}
.overlay-text {
  top: 5%;
  left: 52%;
  border-radius: 5px;
}
#activityForm {
  margin-top: 7em;
  margin-left: 35em;
 }


}
